<!DOCTYPE html>
<html lang="{{#if lang}}{{lang}}{{else}}ru{{/if}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#if title}}{{title}}{{else}}Андрей Сахаров{{/if}}</title>
  <link rel="stylesheet" href="../src/scss/common.scss">
  <link rel="preload" href="../assets/preloader.mp4" as="video">
  <style>
    #preloader{
      position: fixed;
      display: flex;
      top:0;
      left:0;
      height:100%;
      width: 100%;
      background-color: black;
      z-index: 1000;
    }
    body, html{
      background-color: black;
    }
  </style>
</head>
<body>
  <div id="preloader"></div>
  <div id="webglContainer"></div>
  {{{body}}}
  <div id="blind"></div>
  <div id="fixedFullScreenElement"></div>  
  <script src="../src/index.ts"></script>
</body>
</html>