---
title: Andrei Sakharov
lang: en
---
{{!< base}}

<div class="appearance">
  <div class="appearance__progressBar">
    <div class="appearance__progress"></div>
    <div class="appearance__loadMessage">Loading</div>
  </div>
  <div class="appearance__bg">
    <video src='../assets/preloader.mp4' preload muted loop playsinline autoplay></video>
  </div>
  <div class='appearance__quoteWrapper'>
    <div class="appearance__text" data-media='desktop'>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My destiny was, in a sense, exceptional...<br />
      Not out of false modesty, but out of a desire to be accurate, I would say <br>
      that my fate was larger than my personality. <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I simply tried to keep up with my own destiny...
    </div>
    <div class="appearance__text" data-media='mobile'>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My destiny was, in a sense, <br>
      exceptional... Not out of false modesty, <br>
      but out of a desire to be accurate, I <br>
      would say that my fate was larger than <br>
      my personality. <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I simply tried to keep up with <br>
      my own destiny...
    </div>
    <img class='appearance__aftograph' src="../assets/aftograph.svg" alt="">
  </div>
  <div class="appearance__entry">
    <p class="appearance__text" data-media='desktop'>
      The website uses modern technologies so that the intro might not display <br>
      correctly on low-end PCs. You could use mouse to scroll and navigate.
    </p>
    <p class="appearance__text" data-media='mobile'>
      The website uses modern <br>
      technologies so that the intro<br>
      might not display correctly on <br>
      low-end PCs. You could use mouse<br>
      to scroll and navigate.
    </p>
    <div class="appearance__entryBtnsWrapper">
      <button class="appearance__entryBtn js-entry-btn">Enter the site <img src="../assets/arrow-left-circled.svg" alt=""></button>
      <button class="appearance__skipBtn">Skip intro</button>
    </div>
  </div>
</div>
<main class='scrollableContent' id="scrollableContent">
  <div id="content">
    <div class="aboutTextContainer">
      <div class="html2canvas" id='aboutText' data-media="desktop">
        <div class='js-solidText'>A great<span class='symbol'><img src="../assets/symbols/1.png" alt=""></span>humanist of the 20th century.</div>
        <div class='js-solidText'><span class='symbol'><img src="../assets/symbols/2.png" alt=""></span>A national genius who embodied the</div>
        <div class='js-solidText'>ideal of citizenship. An outstanding</div>
        <div class='js-solidText'>scientist and author of<span class='symbol'><img src="../assets/symbols/3.png" alt=""></span>works on the</div>
        <div class='js-solidText'>physics of elementary particles, gravity</div>
        <div class='js-solidText'>and&nbsp;<span class='symbol'><img src="../assets/symbols/4.png" alt=""></span>&nbsp;cosmology. Inventor of the Soviet</div>
        <div class='js-solidText'>hydrogen<span class='symbol'><img src="../assets/symbols/5.png" alt=""></span>bomb. A supporter of peaceful</div>
        <div class='js-solidText'>coexistence and an end to<span class='symbol'><img src="../assets/symbols/6.png" alt=""></span>nuclear</div>
        <div class='js-solidText'>testing. A distinguished public figure,</div>
        <div class='js-solidText'><span class='symbol'><img src="../assets/symbols/7.png" alt=""></span>human rights activist and Nobel<span class='symbol'><img src="../assets/symbols/8.png" alt=""></span></div>
        <div class='js-solidText'>Peace Prize winner.</div>
      </div>
      <div class="html2canvas" id='aboutText' data-media="mobile">
        <div class='js-solidText'>A great<span class='symbol'><img src="../assets/symbols/1.png" alt=""></span>humanist of the 20th </div>
        <div class='js-solidText'>century.<span class='symbol'><img src="../assets/symbols/2.png" alt=""></span>A national genius</div>
        <div class='js-solidText'>who embodied the ideal</div>
        <div class='js-solidText'>of citizenship. An outstanding</div>
        <div class='js-solidText'>scientist and author of<span class='symbol'><img src="../assets/symbols/3.png" alt=""></span>works</div>
        <div class='js-solidText'>on the physics of elementary</div>
        <div class='js-solidText'>particles, gravity and&nbsp;<span class='symbol'><img src="../assets/symbols/4.png" alt=""></span>&nbsp;cosmology. Inventor</div>
        <div class='js-solidText'>of the Soviet hydrogen<span class='symbol'><img src="../assets/symbols/5.png" alt=""></span>bomb.</div>
        <div class='js-solidText'>A supporter of peaceful</div>
        <div class='js-solidText'>coexistence and an end to</div>
        <div class='js-solidText'><span class='symbol'><img src="../assets/symbols/6.png" alt=""></span>nuclear testing. A</div>
        <div class='js-solidText'>distinguished public figure,</div>
        <div class='js-solidText'>human rights activist and</div>
        <div class='js-solidText'>Nobel<span class='symbol'><img src="../assets/symbols/8.png" alt=""></span> Peace Prize winner.</div>
      </div>
    </div>
  </div>
  
  <div id="blindStub"></div>
</main>
<div id='fixedContentContainer'>
    <div class='firstScreen' id="firstSection">
      <div class="firstScreen__content">
        <div class="html2canvas" data-fixed>
          <div class="firstScreen__title">
            <div><div class='js-solidText h1'>Андрей</div></div>
            <div><div class='js-solidText h1'>Сахаров</div></div>
          </div>
          <div class="firstScreen__subtitle"><div class='js-solidText'>Andrei Sakharov</div></div>
        </div>
      </div>
      <div class="firstScreen__scrollDownWrapper scrollDown" id='firstScreenScrollDown'>
        <p class="firstScreen__scrollDown scrollDown__content" id='firstScreenScrollDownContent'>scroll</p>
      </div>
    </div>
    <div class="lastSection" id='lastSection'>
      <div class="lastSection__contentWrapper" >
        <div class="html2canvas" data-fixed>
          <div class="lastSection__content">
            <div class="lastSection__line js-solidText h1">THE LIFE OF</div>
            <div class='lastSection__line'>
              <span class='js-solidText lastSection__date' data-media="desktop">1921</span>
              <div class='js-solidText h1'>ANDREI</div>
              <span class='js-solidText lastSection__date' data-media="desktop">1989</span>
            </div>
            <div class="lastSection__line js-solidText h1">SAKHAROV</div>
          </div>
        </div>
      </div>
    </div>
    <div class="particles"><video data-src="../assets/particles.mp4" muted loop></video></div>
</div>
<div class="coins" id='coins'>          
  <a href="https://www.sakharov.space/anniversary">
    <div class="coins__images">
      <img src="../assets/coin-2.png" alt="">
      <img src="../assets/coin-1.png" alt="">
    </div>      
  </a>
</div>
<p class="coinsTitle" data-media="desktop">
  The Andrei Sakharov<br>Centenary
</p>
<div class="nextPageIndicator">
  <div class="scrollDown"  id='lastScreenDiscover'>
    <p class="scrollDown__content" id='lastScreenDiscoverContent'>Chapter 1</p>
  </div>
</div>