{{!< base}}

<div class="appearance">
    <div class="appearance__progressBar">
      <div class="appearance__progress"></div>
      <div class="appearance__loadMessage">Загрузка</div>
    </div>
    <div class="appearance__bg">
      <video src='../assets/preloader.mp4' preload muted loop playsinline autoplay></video>
    </div>
    <div class='appearance__quoteWrapper'>
      <div class="appearance__text" data-media='desktop'>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cудьба моя была в каком-то смысле исключительной…<br/>
        Не из ложной скромности, а из желания быть точным замечу, что<br>
        судьба моя оказалась крупнее, чем моя личность. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Я лишь старался быть на уровне собственной судьбы…
      </div>
      <div class="appearance__text" data-media='mobile'>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cудьба моя была в каком-то <br>
        смысле исключительной… Не из <br>
        ложной скромности, а из желания быть <br>
        точным замечу, что судьба моя <br>
        оказалась крупнее, чем моя личность. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Я лишь старался быть на <br>
        уровне собственной судьбы…
      </div>
      <img class='appearance__aftograph' src="../assets/aftograph.svg" alt="">
    </div>
    <div class="appearance__entry">
      <p class="appearance__text" data-media='desktop'>
        Сайт использует современные технологии, поэтому на&nbsp;старых<br>
        компьютерах заставка может отображаться некорректно. Используйте <br>
        мышь и&nbsp;скролл для навигации. Приятного погружения.<br>
      </p>
      <p class="appearance__text" data-media='mobile'>
        Сайт использует современные <br>
        технологии, поэтому на&nbsp;старых <br>
        компьютерах заставка может <br>
        отображаться некорректно. <br>
        Используйте мышь и&nbsp;скролл <br>
        для навигации. Приятного <br>
        погружения.
      </p>
      <div class="appearance__entryBtnsWrapper">
        <button class="appearance__entryBtn js-entry-btn"><span>Войти на сайт</span> <img src="../assets/arrow-left-circled.svg" alt=""></button>
        <button class="appearance__skipBtn">Пропустить заставку</button>
      </div>
    </div>
</div>
<main class='scrollableContent' id="scrollableContent">
    <div id="content">
      <div class="aboutTextContainer">
        <div class="html2canvas" id='aboutText' data-media="desktop">
          <div class='js-solidText'>Великий<span class='symbol'><img src="../assets/symbols/1.png" alt=""></span>гуманист XX века.</div>
          <div class='js-solidText'><span class='symbol'><img src="../assets/symbols/2.png" alt=""></span>Национальный гений, воплотивший</div>
          <div class='js-solidText'>в себе идеал гражданственности.</div>
          <div class='js-solidText'>Выдающийся ученый, автор<span class='symbol'><img src="../assets/symbols/3.png" alt=""></span>работ</div>
          <div class='js-solidText'>по физике элементарных частиц,</div>
          <div class='js-solidText'>гравитации и&nbsp;<span class='symbol'><img src="../assets/symbols/4.png" alt=""></span>&nbsp;космологии.</div>
          <div class='js-solidText'>Создатель советской водородной</div>
          <div class='js-solidText'><span class='symbol'><img src="../assets/symbols/5.png" alt=""></span>&nbsp;бомбы. Сторонник прекращения</div>
          <div class='js-solidText'>ядерных&nbsp;<span class='symbol'><img src="../assets/symbols/6.png" alt=""></span>&nbsp;испытаний и всеобщего</div>
          <div class='js-solidText'>разоружения. Общественный деятель,</div>
          <div class='js-solidText'><span class='symbol'><img src="../assets/symbols/7.png" alt=""></span>правозащитник, лауреат</div>
          <div class='js-solidText'>Нобелевской премии&nbsp;<span class='symbol'><img src="../assets/symbols/8.png" alt=""></span>&nbsp;мира.</div>
        </div>
        <div class="html2canvas" id='aboutText' data-media="mobile">
          <div class='js-solidText'>Великий<span class='symbol'><img src="../assets/symbols/1.png" alt=""></span>гуманист XX века.</div>
          <div class='js-solidText'><span class='symbol'><img src="../assets/symbols/2.png" alt=""></span>Национальный гений</div>
          <div class='js-solidText'>воплотивший в себе идеал</div>
          <div class='js-solidText'>гражданственности.</div>
          <div class='js-solidText'>Выдающийся ученый, </div>
          <div class='js-solidText'>автор<span class='symbol'><img src="../assets/symbols/3.png" alt=""></span>работ по физике</div>
          <div class='js-solidText'>элементарных частиц,</div>
          <div class='js-solidText'>гравитации и&nbsp;<span class='symbol'><img src="../assets/symbols/4.png" alt=""></span>&nbsp;космологии.</div>
          <div class='js-solidText'>Создатель советской</div>
          <div class='js-solidText'>водородной<span class='symbol'><img src="../assets/symbols/5.png" alt=""></span>&nbsp;бомбы.</div>
          <div class="js-solidText">Сторонник прекращения</div>
          <div class='js-solidText'>ядерных&nbsp;<span class='symbol'><img src="../assets/symbols/6.png" alt=""></span>&nbsp;испытаний</div>
          <div class='js-solidText'>и всеобщего разоружения.</div>
          <div class="js-solidText">Общественный деятель,</div>
          <div class='js-solidText'><span class='symbol'><img src="../assets/symbols/7.png" alt=""></span>правозащитник, лауреат</div>
          <div class='js-solidText'>Нобелевской премии&nbsp;<span class='symbol'><img src="../assets/symbols/8.png" alt=""></span>&nbsp;мира.</div>
        </div>
      </div>
    </div>
    <div id="blindStub"></div>
</main>
<div id='fixedContentContainer'>
      <div class='firstScreen' id="firstSection">
        <div class="firstScreen__content">
          <div class="html2canvas" data-fixed>
            <div class="firstScreen__title">
              <div><div class='js-textToChar h1'>Андрей</div></div>
              <div><div class='js-textToChar h1'>Сахаров</div></div>
            </div>
            <div class="firstScreen__subtitle"><div class='js-textToChar'>Andrei Sakharov</div></div>
          </div>
        </div>
        <div class="firstScreen__scrollDownWrapper scrollDown" id='firstScreenScrollDown'>
          <p class="firstScreen__scrollDown scrollDown__content" id='firstScreenScrollDownContent'>scroll</p>
        </div>
      </div>
      <div class="lastSection" id='lastSection'>
        <div class="lastSection__contentWrapper" >
          <div class="html2canvas" data-fixed>
            <div class="lastSection__content">
              <div class="lastSection__line js-textToChar h1">История</div>
              <div class='lastSection__line'>
            <span class='js-solidText lastSection__date' data-media="desktop">1921</span>
            <div class='js-textToChar h1'>Жизни</div>
            <span class='js-solidText lastSection__date' data-media="desktop">1989</span>
              </div>
              <div class="lastSection__line js-textToChar h1">Андрея</div>
              <div class="lastSection__line js-textToChar h1">Сахарова</div>
            </div>
          </div>
        </div>
      </div>
      <div class="particles"><video data-src="../assets/particles.mp4" muted loop></video></div>
</div>
<div class="coins" id='coins'>          
    <a href="https://www.sakharov.space/anniversary">
      <div class="coins__images">
        <img src="../assets/coin-2.png" alt="">
        <img src="../assets/coin-1.png" alt="">
      </div>      
    </a>
</div>
<p class="coinsTitle" data-media="desktop">
    100 лет<br>Андрею Сахарову
</p>
<div class="nextPageIndicator">
    <div class="scrollDown"  id='lastScreenDiscover'>
      <p class="scrollDown__content" id='lastScreenDiscoverContent'>Глава 1</p>
    </div>
</div>
