@import './vars';
@import './fonts';
@import 'nprogress/nprogress.css';

html, body, *{
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}
html, body{
  &::-webkit-scrollbar {
    width: 0px; 
  }
}

$defaultFontSize: 50px;

html{
  font-size: $defaultFontSize;
  // $desktopFontSize: 16px / 1440px * 100vw;
  $mobileFontSize: $defaultFontSize / 375px * 100vw;
  // font-size: $desktopFontSize;
  // @media screen and (min-width: 1920px){
  //   font-size: $desktopFontSize * 1920 / 100vw * 1px;
  // }
  @include phoneMedia{
    font-size: $mobileFontSize !important;
  }
}

@function get-rem($value: 0){
  @return $value / $defaultFontSize * 1rem;
}

.h1{
  &, * {
    font-family: "TT-Tsars-A", "Helvetica";
    font-size: get-rem(149px);
    line-height: 1;
    letter-spacing: -0.07em;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    @include phoneMedia{
      font-size: get-rem(61px);
      line-height: 1.1;
    }
  }
}
.appearance{
  position: fixed;
  display: flex;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  &__quoteWrapper{
    position: relative;
    max-width: get-rem(947px);
    margin-top: get-rem(-100px);
    @include phoneMedia{
      margin-top: 0;
      left: get-rem(10px);
      max-width: calc(100vw - #{get-rem(20px) * 2});
    }
    @include webflowBreakpointMobile{
      left: 0;
    }
  }
  &__text{
    color: #FFFFFF;
    font-family: "PrahoPro-Light", "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-size: get-rem(22px);
    line-height: 150%;
    letter-spacing: -0.002em;
    max-width: get-rem(712px);
    margin-left: auto;
    margin-right: auto;
    @include phoneMedia{
      font-size: get-rem(17px);
      line-height: 134%;
      max-width: 100%;
    }
  }
  &__aftograph{
    position: absolute;
    top: calc(100% + #{get-rem(30px)});
    right: 0;
    display: block;
    width: get-rem(250px);
    filter: invert(1);
    @include phoneMedia{
      width: get-rem(130px);
      top: calc(100% + #{get-rem(20px)});
    }
  }
  &__bg{
    position: absolute;
    top:0;
    left:0;
    z-index:0;
    width: 100%;
    height: 100%;
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after{
      content: "";
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/noise-grey.gif');
      background-repeat: repeat;
      mix-blend-mode: color-burn;
    }
  }
  &__progressBar{
    position: absolute;
    top:0;
    left:0;
    width: 4vw;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2vw;
    box-sizing: border-box;
    @include webflowBreakpointDesktop{
      width: 7vw;
      padding-bottom: 3vw;
      box-sizing: border-box;
    }
    @include webflowBreakpointMobile{
      width: 100%;
      height: auto;
      height: 17.62vw;
      justify-content: flex-start;
      aling-items: center;
      padding-left: 5.9vw;
      box-sizing: border-box;
      padding-top: 3vw;
      padding-bottom: 3vw;
    }
  }
  &__progress{
    position: absolute !important;
    top: 0;
    right: 0;
    width: calc(var(--vh, 1vh) * 100);
    height: 1px;
    transform: rotate(-90deg);
    transform-origin: right center;
    z-index:10;
    @include webflowBreakpointMobile{
      width: 100%;
      height: 1px;
      transform: none;
      right: auto;
      left: 0;
      top: auto;
      bottom: 0;
    }
    &.-loaded{
      width: calc(var(--vh, 1vh) * 110);
      top:  calc(var(--vh, 1vh) * -10);
      @include webflowBreakpointMobile{
        top: auto;
        bottom: 0;
      }
      #nprogress .bar{
        transition: background-color .3s ease-out;
        background-color: rgba(255,255,255, 0.3) !important;
      }
    }
  }
  &__loadMessage{
    z-index:10;
    transform: rotate(-90deg) translateX(50%);
    transform-origin: center center;
    font-family: "TT-Commons";
    font-style: normal;
    font-weight: 500;
    // font-size: get-rem(18px);
    font-size: 1vw;
    text-align: right;
    letter-spacing: -0.01em;
    padding: 1vw 0;
    color: #959595;
    white-space: nowrap;
    @include webflowBreakpointDesktop{
      font-size: 2vw;
    }
    @include webflowBreakpointMobile{
      transform: none;
      font-size: 3.5vw;
    }
  }
  &__entry{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    .appearance__text{
      text-align: center;
      white-space: nowrap;
      color: #959595;
      max-width: get-rem(750px);
      margin-left: auto;
      margin-right: auto;
      @include phoneMedia{
        max-width: 100%;
      }
    }
  }
  &__entryBtnsWrapper{
    display: flex;
    margin-top: get-rem(76px);
    justify-content: center;
    align-items: center;
    opacity:0;
    
    @include phoneMedia{
      flex-direction: column;
    }

    button{
      background: none;
      outline: none;
      border-radius: 0;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }
  &__entryBtn{
    display: flex;
    align-items: center;
    font-family: "TT-Commons";
    font-style: normal;
    font-weight: normal;
    font-size: get-rem(16px);
    line-height: 1.33;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    cursor: pointer;
    &:hover span:after{
      opacity:1;
    }
    span{
      position: relative;
      display: block;
      &:after{
        content:"";
        display: block;
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        border-bottom: 1px solid currentColor;
        transition: opacity .3s ease-out;
        opacity:0;
      }
    }
    img{
      width: get-rem(33px);
      margin-left: get-rem(15px);
      @include phoneMedia{
        display: none;
      }
    }
  }
  &__skipBtn{
    position: relative;
    margin-left: get-rem(33px);
    font-family: "TT-Commons";
    font-style: normal;
    font-weight: normal;
    font-size: get-rem(16px);
    line-height: 1.333;
    letter-spacing: -0.01em;
    color: #717171;
    cursor: pointer;
    &:after{
      content:"";
      display: block;
      position: absolute;
      bottom:0;
      left:0;
      width: 100%;
      border-bottom: 1px solid currentColor;
      transition: opacity .3s ease-out;
      opacity:0;
    }
    &:hover:after{
      opacity:1;
    }
    @include phoneMedia{
      margin-left: 0;
      margin-top: get-rem(15px);
    }
  }
}
#webglContainer{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index:0;
  canvas{
    width: 100%;
    height: 100%;
    display: block;
  }
}
#scrollableContent{
  position: relative;
  z-index:2;
  opacity: 0;
  padding-top: calc(var(--vh, 1vh) * 100);
  padding-bottom: calc(var(--vh, 1vh) * 70);
}
#fixedContentContainer{
  position: fixed;
  height: 100%;
  z-index: 10;
  top:0;
  left:0;
}
#fixedFullScreenElement{
  position: fixed;
  height: 100vh;
  width: 0;
  z-index: -1;
  top:0;
  left:0;
}

.firstScreen{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  padding-top: get-rem(130px);
  box-sizing: border-box;
  &, &>*{
    pointer-events: none;
  }
  @include phoneMedia{
    padding-top: get-rem(154px);
  }
  &__content{
    opacity:0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .html2canvas{
    padding: 5%;
    margin-top: -5%;
    // margin-left: -5%;
    @include phoneMedia{
      margin-left:0;
      margin-right: 0;
      padding-left: calc((100vw - 100%) / 2);
      padding-right: calc((100vw - 100%) / 2);
    }
    
  }
  &__title{
    width: get-rem(1028px);
    @include phoneMedia{
      width: calc(100vw - #{get-rem(20px)});
    }
    &>*{
      display: flex;
      width: 100%;
      &:first-child(){
        margin-left: get-rem(19px);
        @include phoneMedia{
          margin-left: 0;
        }
      }
      &:nth-child(2){
        justify-content: flex-end;
      }
    }
  }
  &__subtitle{
    margin-top: get-rem(24px);
    font-family: "TT-Commons";
    font-size: get-rem(20px);
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    @include phoneMedia{
      font-size: get-rem(16px);
      margin-top: get-rem(12px);
    }
  }
}
.aboutTextContainer{
  position: relative;
  font-family: 'PrahoPro-Light', "Helvetica";
  font-style: normal;
  // font-weight: 300;
  // font-size: get-rem(60px);
  font-size: 4.3vw;
  line-height: 120%;
  letter-spacing: 0.002em;
  color: white;
  width: calc(100% - 7vw * 2);
  margin-left: auto;
  margin-right: auto;
  // padding-left: get-rem(54px);
  box-sizing: border-box;
  @include phoneMedia{
    width: calc(100% - 5.9vw * 2);
    // font-size: get-rem(23px);
    font-size: 6.3vw;
    line-height: 1.12;
  }
  .html2canvas{
    padding: 5%;
    margin-left: -5%;
    margin-top: -5%;
    box-sizing: content-box;
    @include phoneMedia{
      width: 100%;
    }
  }
}
.lastSection{
  position: fixed;
  top:0;
  left:0;
  z-index:100;
  width: 100vw;
  height: 100%;
  opacity: 0;
  &, &>*{
    pointer-events: none;
  }
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: get-rem(160px);
  box-sizing: border-box;
  @include phoneMedia{
    padding-bottom: get-rem(140px);
  }
  .html2canvas{
    padding: 5%;
    margin-bottom: -5%;
    margin-left: -5%;
    @include phoneMedia{
      margin-left: auto;
      margin-right: auto;
      // padding-left: calc((100vw - 100%) / 2);
      // padding-right: calc((100vw - 100%) / 2);
    }
  }
  &__contentWrapper{
    display: flex;
    margin-top: get-rem(-100px);
    margin-left: get-rem(-80px);
    @include phoneMedia{
      margin-left: 0;
      margin-top: 0;
      width: 100%;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__line{
    display: flex;
    align-items: center;
    // margin: get-rem(5px) 0;
    text-transform: uppercase;
    &:nth-child(1){
      margin-left: get-rem(70.4px);
      @include phoneMedia{
        align-self: flex-end;
        margin-left: 0;
      }
    }
    &:nth-child(2){
      margin-left: get-rem(169.7px);
      @include phoneMedia{
        margin-left: get-rem(7px);
      }
    }
    &:nth-child(3){
      @include phoneMedia{
        align-self: flex-end;
        margin-right: get-rem(20px);
      }
    }
    &:nth-child(4){
      margin-left: get-rem(214px);
      @include phoneMedia{
        margin-left: get-rem(10px);
      }
    }
  }
  .h1{
    &, &>*{
      letter-spacing: -0.04em;
      // line-height: 1.05;
      line-height: 0.93;
      @include phoneMedia{
        letter-spacing: -0.07em;
      }
    }
  }
  &__date{
    font-family: "TT-Commons";
    font-style: normal;
    font-weight: normal;
    font-size: get-rem(44px);
    line-height: get-rem(77px);
    margin: get-rem(13px) get-rem(30px) 0px;
    @include phoneMedia{
      display: none;
    }
  }
}

.symbol{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 1.2em;
  height: 0;
  @include phoneMedia{
    // width: get-rem(28px);
  }
  img{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    width: 100%;
    height: 1.2em;
    object-fit: contain;
    filter: invert(1);
    @include phoneMedia{
      // height: get-rem(29.3px);
    }
  }
}
.scrollDown{
  opacity:0;
  position: absolute;
  bottom:0;
  left: 50%;
  transform: rotate(-90deg) translateY(50%);
  transform-origin: left bottom;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: get-rem(100px) 0;
  box-sizing: border-box;
  &__content{
    margin: 0 !important;
    font-family: "TT-Commons";
    font-style: normal;
    font-weight: normal;
    font-size: get-rem(16px);
    letter-spacing: 0.12em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    @include phoneMedia{
      font-size: get-rem(15px);
    }
    &:before{
      display: block;
      content: "";
      width: calc((1.13vw + .87vw + #{get-rem(8px)}) * 0.6);
      margin-right: calc((1.13vw + .87vw + #{get-rem(8px)}) * 0.4);
      @include webflowBreakpointDesktop{
        width: calc((1.13vw + 3vw) * 0.6);
        margin-right: calc((1.13vw + 3vw) * 0.4);
      }
      // width: get-rem(37px);
      height: 1px;
      color: inherit;
      background-color: currentColor;
      // margin-right: get-rem(24px);
      @include phoneMedia{
        width: get-rem(15px);
        margin-right: get-rem(22px);
      }
    }
  }
}

// offsetDesktop: 61px;
// offsetMobile: 37px 
.coins{
  position: fixed;
  z-index: 4;
  width: get-rem(130px);
  left: 8.1vw;
  bottom: calc(1.13vw + .87vw + #{get-rem(2px)} + #{get-rem(31px)});
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: all;
  @include webflowBreakpointDesktop{
    bottom: calc(1.13vw + 3vw + #{get-rem(2px)} + #{get-rem(31px)});
  }
  @include phoneMedia{
    width: auto;
    left: 5.9vw;
    bottom: get-rem(30px);
  }
  a{
    cursor: pointer;
    text-decoration: none;
    isolation: auto;
  }
  &:hover &__images img{
    &:first-child{
      transform: translateX(get-rem(-10px));
     }
     &:last-child{
      transform: translateX(get-rem(10px));
     }
  }
  &__images{
    margin-bottom: get-rem(20px);
    display: flex;
    justify-content: center;
    opacity: 0;
    @include phoneMedia{
      margin-bottom: 0;
    }
    img{
      display: block;
      position: relative;
      width: get-rem(105px);
      height: get-rem(105px);
      transition: transform .8s cubic-bezier(0.35, 0.17, 0.16, 0.99);
      transform: translateX(0);
      object-fit: contain;
      @include phoneMedia{
        width: get-rem(69px);
        height: get-rem(69px);
      }
      &:nth-child(1){
        z-index:2;
        margin-right: get-rem(-60px);
        @include phoneMedia{
          margin-right: get-rem(-39px);
        }
      }
    }
  }
}
.coinsTitle{
  width: get-rem(130px);
  @include phoneMedia{
    display: none;
  }
  opacity: 0;
  position: fixed;
  bottom: calc(1.13vw + .87vw + #{get-rem(2px)});
  left: 8.1vw;
  font-family: "TT-Commons";
  font-style: normal;
  font-weight: normal;
  font-size: get-rem(15.6076px);
  line-height: get-rem(18px);
  text-align: center;
  letter-spacing: 0.01em;
  color: white;
  margin: 0;
  padding: 0;
  mix-blend-mode: exclusion;
  @include webflowBreakpointDesktop{
    bottom: calc(1.13vw + 3vw + #{get-rem(2px)});
  }
}
.particles{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  mix-blend-mode: screen;
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.dg.ac{
  z-index: 100 !important;
  right: auto !important;
}
#nprogress {
  .peg{
    box-shadow: none !important;
  }
  .bar{
    background: white !important;
  }
  .spinner-icon{
    display: none !important;
    border-top-color: #000 !important;
    border-left-color: #000 !important;
  }
}
body > canvas{
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
}
.nextPageIndicator{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  height: 0;
  z-index:10;
  mix-blend-mode: exclusion;
  .scrollDown{
    z-index: 10;
  }
  .scrollDown__content{
    color: white;
    @include phoneMedia{
      // color: #D8D8D8;
    }
  }
}
#blindStub{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}
#blind{
  position: fixed;
  left:0;
  bottom:0;
  z-index:5;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: $blackColor;
  transform: translateY(100%);
  display: flex;
  flex: 1;
  video{
   object-fit: cover; 
   width: 100%;
   height: 100%;
  }
}

.rect{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: get-rem(1440px);
  height: get-rem(860px);
  background-color: red;
  z-index:1000;
  display: none;
}
.title-intro{
  opacity:0; 
  visibility: hidden;
  z-index:100; 
  color:white; 
  position: fixed; 
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}


html[lang='en']{
  .lastSection{
    padding-bottom: get-rem(280px);
    @include phoneMedia{
      padding-bottom: get-rem(170px);
    }
    &__line{
      &:nth-child(1){
        margin-left: get-rem(110px);
        @include phoneMedia{
          align-self: flex-end;
          margin-left: 0;
        }       
      }
      &:nth-child(2){
        margin-left: get-rem(470px);
        @include phoneMedia{
          margin-left: auto;
          margin-right: get-rem(20px);
          // margin-left: get-rem(7px);
        }
      }
      &:nth-child(3){
        margin-left: get-rem(225px);
        @include phoneMedia{
          margin-left: get-rem(7px);
        }
      }
    }
    .html2canvas{
      @include phoneMedia{
        padding-left: calc((100vw - 100%) / 2);
        padding-right: calc((100vw - 100%) / 2);
      }
    }
  } 
}