@font-face {
  font-family: "PrahoPro-Light";
  src: url("../../assets/fonts/PrahoPro-Light.woff2") format('woff2'),
       url("../../assets/fonts/PrahoPro-Light.woff") format('woff');
  font-display: swap;
 }
@font-face {
 font-family: "TT-Tsars-A";
 src: url("../../assets/fonts/TT-Tsars-A-Light.woff2") format('woff2'),
      url("../../assets/fonts/TT-Tsars-A-Light.woff") format('woff');
 font-display: swap;
}

@font-face {
  font-family: "TT-Commons";
  src: url("../../assets/fonts/TTCommons-Regular.woff2") format('woff2'),
       url("../../assets/fonts/TTCommons-Regular.woff") format('woff');
  font-display: swap;
 }