$desktop: 1440px;
$phoneMaxWidth: 767px;
$webflowBreakpointDesktop: 991px;
$webflowBreakpointMobile: 479px;

@mixin phoneMedia {
  @media screen and (max-width: $phoneMaxWidth) {
      @content;
  }
}
@mixin phoneMediaMin {
  @media screen and (min-width: #{$phoneMaxWidth + 1}) {
      @content;
  }
}

@mixin webflowBreakpointDesktop{
  @media screen and (max-width: #{$webflowBreakpointDesktop}) {
    @content;
  }
}
@mixin webflowBreakpointMobile{
  @media screen and (max-width: #{$webflowBreakpointMobile}) {
    @content;
  }
}


$whiteColor: white;
$blackColor: black;
